.changeBlock{
	position: absolute;
	right: 3.125rem;
	top: 8.125rem;
	z-index: 2;
	ul{
		list-style-type: none;
		li{
			padding-bottom: 1rem;
		}
	}
}

.details{
	background: url('../img/bgDetails.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	display: flex;
	color: #fff;
	&:after{
		content: '';
        background: rgba(21, 21, 21, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
	}
	// first block
	.mainBlockDetails{
		max-width: 1550px;
		z-index: 2;
		// display: flex;
		flex-direction: column;
		margin: 0 auto;
		h2.headerDet{
			font-size: 	2.25rem;
			margin-top: 10.375rem;
		}
		.detDescript{
			color: #FFF;
			display: flex;
			justify-content: space-between;
			margin-bottom: 10.375rem;
			.title{
				color: #FBBA04;
			}
			.detImg{
				width: 667px;
				height: 500px;
				transform: translateY(0.5rem);
				margin-right: 5rem;
			}
			.detText{
				overflow: scroll;
				overflow-x: hidden;
				height: 480px;
				font-size: 0.875rem;
				column-count: 1;
				column-width: 600px;
				transform: translateX(1rem);
				.param{
					margin-bottom: 0;
					&:last-child{
						margin-bottom: 1;
					}
				}
				ul{
					list-style-type: none;

				}
			}
		}
	}
	// second block
	.mainBlockGalery{
		// display: flex;
		max-width: 1550px;
		z-index: 2;
		// margin: 0 auto;
		.imgBlock{
			height: 100vh;
			width: 71vw;
		}
		.slides{
			margin-top: 7.75rem;
			margin-left: 5.375rem;
			overflow: scroll;
			overflow-x: hidden;
			ul{
				list-style-type: none;
				li{
					padding-bottom: 1rem;
				}
			}
		}
	}
	.mainBlockParamets{
		height: 70vh;
		width: 70vw;
		z-index: 2;
		margin: 15%;
		.mainTable{
			margin: 1rem 0;

		}
		.mainTableHead{
			margin: 1rem 0;
			color: $yellowColor;
		}
		.blockTable{
			padding: 1.875rem 0;
			&:hover{
				background: rgba(251, 227, 4, 0.6);
			}
		}
	}
}

.mainBlockDetails,
.mainBlockGalery{
	display: none;
}