@media screen and (max-width: 1368px){
	.popup-requestQuote,
	.popup-phoneCallback,
	.popupRequsetVisible{
		width: 302px;
	}
	.popup-requestQuote{
		left: 12rem;
		top: 4rem;
	}
	.popup-phoneCallback{
		right: 2rem;
		transform: translateX(5%);
	}
	header{
		ul{
			li {
	            display: inline-block;
	            padding: 0 1.25rem;
	            &:first-child{
	                padding: 0 1.25rem;
	            }
	        }
		}
	}
	.header-nav-call{
		transform: translateX(14rem);
	}
	.button-description,
	.button-application{
		transform: translateY(0%) translateX(0%);
	}
	.container{
		.text-block{
			transform: translateX(3%) translateY(-1rem);
		}
	}
	.container{
		max-width: 1024px !important;
		display: flex;
		margin-bottom: 0;
		.blockContact,
		.servisBlock{
			
			.servisTextBlock,
			.aboutDescription{
				h2{
					font-size: 1.8rem;
				}
			}
		}
		.blockAbout,
		.servisTextBlock{
			margin: 5rem 0 1rem 0;
		}
		.blockAbout{
			.aboutDescription{
				line-height: 1.3;
				overflow: scroll;
				overflow-x: hidden;
				&::-webkit-scrollbar {
					width: 6px;
					height: 20px;
				}

				&::-webkit-scrollbar-button:start:decrement,
				::-webkit-scrollbar-button:end:increment  {
					height: 20px;
					width: 20px;
					display:block;
					background-color: transparent;

				}

				&::-webkit-scrollbar-track-piece  {
					background-color: transparent;
					-webkit-border-radius: 5px;
				}

				&::-webkit-scrollbar-thumb:vertical {
					height: 50px;
					background-color: rgba(251, 227, 4, 0.6);
					border: none;
					-webkit-border-radius: 50px;
					opacity: 0.6;
					&:hover{
						background-color: rgba(251, 227, 4, 1);
					}
				}

				&::-webkit-scrollbar-thumb:horizontal {
					height: 50px;
					background-color: #474747;
					border: 1px solid #ccc;
					-webkit-border-radius: 6px;
				}

				&::-webkit-scrollbar-corner{
				  background-color:#474747;
				}
			}
		}
		.servisBlock{
			.servisTextBlock{
				p.servisText{
					line-height: 1;
				}
			}
		}
	}
	.details{
		.mainBlockDetails{
			max-width: 1024px;
			margin: 5.375rem auto;
			h2.headerDet{
				
			}
			.detDescript{
				.detText{
					height: 380px;
				}
			}
		}
		.mainBlockGalery{
			.slides{
				margin-left: -1.625rem;
			}
		}
		.mainBlockParamets{
			max-width: 1024px;
			margin: 3.375rem auto;
			.blockTable{
				padding: 0.625rem 0;
			}
			.mainTableHead,
			.mainTable{
				margin: 0;
			}
		}
	}
	.btnBlock{
		width: 270px;
		height: 53px;
	}
	.buttonInDitales{
		transform: translateY(-15rem);
	}
}