@media screen and (max-width: 1368px){
	.popup-requestQuote,
	.popup-phoneCallback
	.popupRequsetVisible{
		width: 302px;
	}
	.popup-requestQuote{
		left: 12rem;
		top: 4rem;
	}
	.popup-phoneCallback{
		right: 2rem;
	}
	header{
		ul{
			li {
	            display: inline-block;
	            padding: 0 1.25rem;
	            &:first-child{
	                padding: 0 1.25rem;
	            }
	        }
		}
	}
	.button-description,
	.button-application{
		-webkit-transform: translateY(40%) translateX(-20%);
		-ms-transform: translateY(40%) translateX(-20%);
		-o-transform: translateY(40%) translateX(-20%);
		-moz-transform: translateY(40%) translateX(-20%);
		transform: translateY(40%) translateX(-24%);
	}
	.container{
		.text-block{
			transform: translateX(3%) translateY(-1rem);
		}
	}
	.container{
		.blockContact,
		.servisBlock,
		.blockAbout{
			margin: 8.375rem auto;
			.servisTextBlock,
			.aboutDescription{
				h2{
					font-size: 1.8rem;
					text-transform: uppercase;
				}
			}
		}
		.blockAbout{
			.aboutDescription{
				column-width: 55rem;
			}
		}
	}
	.details{
		.mainBlockDetails{
			max-width: 1024px;
			h2.headerDet{
				margin-top: 5.375rem;
			}
			.detDescript{
				.detText{
					height: 380px;
				}
			}
		}
		.mainBlockGalery{
			.slides{
				margin-left: -1.625rem;
			}
		}
	}
	.btnBlock{
		width: 270px;
		height: 53px;
	}
	.buttonInDitales{
		transform: translateY(-15rem);
	}
}