// Старый css
$yellowColor: #FBBA04;
$colorBlack: #151515;

main{
	display: contents !important;
}
.tube{
	color: red; 
	display: inline-block;
}
@import 'oldStyle';
@import 'popups';

.menu{
	display: flex;
	justify-content: space-between;
	ul{
		li{
			a{
				&:hover{
					color: $yellowColor;
				}
			}
		}
	}
}

.header-nav-call,
.buttonInPopups,
.buttonInDitales,
.button-application,
.button-description{
	width: 270px;
	height: 53px;
	border: 1px solid $yellowColor;
	color: $yellowColor;
	cursor: pointer;
}
.header-nav-call{
	transform: translateY(-20%) translateX(50%);
	background: url('../img/phoneBtn.svg') left 5% center no-repeat rgba(0, 0, 0, 0.5);
}
.button-application{
	background: url('../img/appBtn.svg') left 5% center no-repeat rgba(0, 0, 0, 0.5);
}
.button-description{
	background: url('../img/descBtn.svg') left 5% center no-repeat rgba(0, 0, 0, 0.5);
}
.buttonInPopups{
	margin: 1rem auto;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.5);
}
.buttonInDitales{
	background-color: transparent;
	transform: translateY(-8rem);
}
.header-active{
	color: $yellowColor;
}
.number{
	color: $yellowColor;
	border: none;
	padding: 1rem;
	margin: 0 auto;
}
.container{
	margin-bottom: 2.5rem;
	z-index: 2;
	max-width: 1500px !important;
	color: #fff;
	display: flex;
}
.text-block{
	height: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-content: center;
	transform: translateY(-1rem);
	.button-block{
		display: flex;
		justify-content: space-starts;
		transform: translateY(0%) translateX(-1rem);
	}
	h1.title{
		font-weight: bold;
		font-size: 3.75rem;
	}
	p.description{
		font-size: 1.75rem;
		width: 32rem;
		font-weight: 600;
		column-count: 1;
		column-width: 100px;
	}
}
.section-menu{
	display: flex;
	padding-left: 3rem;
	position: fixed;
	top: 45%;
	.vertical{
		display: flex;
		ul{
			list-style: none;
			margin-top: auto;
			margin-bottom: auto;
			font-weight: 700;
			a{
				color: #fff;
			}	
			.active-slide{
				color: $yellowColor;
			} 
		}
	}
	z-index: 2;
}
// Contact

.contact{
	background: url('../img/bgContact.jpg') no-repeat;
	background-size: cover;
	display: flex;
	&:after{
		content: '';
        background-color: rgba(21, 21, 21, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
	}
}
.blockContact{
	display: flex;
	justify-content: space-between;
	margin: auto;
	.contactMap{
		width:718px;
		height:447px;
		frameborder:0;
		border:0;
		z-index: 3;
		padding-right: 2rem;
	}
	.contactDescription{
		display: flex;
		flex-direction: column;
		justify-content: center;
		.descText{
			column-count: 1;
			column-width: 310px;
			text-align: left;
			font-weight: bold;
			font-size: 14px;
			color: #FFFFFF;
			text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			a{
				color: #fff;
				&:hover{
					color: $yellowColor;
					text-decoration: none;
				}
			}
		}
		z-index: 3;
	}
}
// Servis

.servis{
	background: url('../img/bgServis.jpg') no-repeat center;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	&:after{
		content: '';
        background-color: rgba(21, 21, 21, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
	}
}
.servisBlock{
	z-index: 2;
	display: flex;
	margin: auto;
	justify-content: space-between;
	.servisForm{
		display: flex;
		flex-direction: column;
		justify-content: center;
		form{
			width: 300px;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
		}
	}
	.servisTextBlock{
		width: 35.625rem;
		h2{
			font-size: 2.1875rem;
			text-transform: uppercase;
		}
		p.servisText{
			column-count: 1;
			column-width: 10rem;
		}
		.servisTextAbout{
			font-weight: 500;
			font-size: 	1.25rem;
			a{
				color: #fff;
				&:hover{
					color: $yellowColor;
					text-decoration: none;
				}
				.effect-3 {
				  	display: inline-block;
				  	overflow: hidden;
				  	&:before{
				  		left: 0;
					  	bottom: 0;
					  	width: 100%;
					  	height: 2px;
					  	background: $yellowColor;
					  	transform: translateX(-100%);
				  	}
				  	&:hover:before{
				  		transform: translateX(0);
				  	}
				}
			}
		}
	}
}


// About
.aboutAs{
	background: url('../img/bgDensimov.jpg') no-repeat center;
	display: flex;
	justify-content: space-between;
	&:after{
		content: '';
        background-color: rgba(21, 21, 21, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
	}
}
.blockAbout{
	display: flex;
	justify-content: space-between;
	margin: auto;
	.contactMap{
		width: 548px;
		height: 460px;
		frameborder:0;
		border: 0;
		z-index: 3;
	}
	.aboutDescription{
		width: 34.25rem;
		line-height: 1.8;
		h2{
			text-transform: uppercase;
		}
		
	}
	.aboutMap{
		text-transform: uppercase;
		padding-left: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
@import 'details';
@import 'media';