// Старый css
$yellowColor: #FBBA04;
$colorBlack: #151515;
.block-shadow{
	background: url('../img/shadow.jpg') no-repeat center;
	z-index: 2;
	height: 100vh;
}
main{
	display: contents !important;
}
@import 'oldStyle';
@import 'popups';

.menu{
	display: flex;
	justify-content: space-between;
}

.header-nav-call,
.buttonInPopups,
.button-application,
.button-description{
	width: 270px;
	height: 53px;
	border: 1px solid $yellowColor;
	color: $yellowColor;
	cursor: pointer;
}
.header-nav-call{
	transform: translateY(-20%) translateX(50%);
	background: url('../img/phoneBtn.svg') left 5% center no-repeat rgba(0, 0, 0, 0.5);
}
.button-application{
	-webkit-transform: translateY(40%) translateX(-70%);
	-ms-transform: translateY(40%) translateX(-70%);
	-o-transform: translateY(40%) translateX(-70%);
	-moz-transform: translateY(40%) translateX(-70%);
	transform: translateY(40%) translateX(-70%);
	background: url('../img/appBtn.svg') left 5% center no-repeat rgba(0, 0, 0, 0.5);
}
.button-description{
	-webkit-transform: translateY(40%) translateX(-70%);
	-ms-transform: translateY(40%) translateX(-70%);
	-o-transform: translateY(40%) translateX(-70%);
	-moz-transform: translateY(40%) translateX(-70%);
	transform: translateY(40%) translateX(-70%);
	background: url('../img/descBtn.svg') left 5% center no-repeat rgba(0, 0, 0, 0.5);
}
.buttonInPopups{
	margin: 1rem auto;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.5);
}
.header-active{
	color: $yellowColor;
}
.number{
	color: $yellowColor;
	border: none;
	padding: 1rem;
	margin: 0 auto;
}
.container{
	margin-bottom: 2.5rem;
	.text-block{
		height: 100%;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-content: center;
		.button-block{
			display: flex;
			justify-content: space-starts;
			transform: translateY(-40%) translateX(5%);
		}
		h1.title{
			font-weight: bold;
			font-size: 3.75rem;
		}
		p.description{
			font-size: 1.75rem;
			width: 32rem;
			font-weight: 600;
			column-count: 1;
			column-width: 100px;
		}
	}
	z-index: 2;
}
.section-menu{
	display: flex;
	padding-left: 3rem;
	position: fixed;
	top: 45%;
	.vertical{
		display: flex;
		ul{
			list-style: none;
			margin-top: auto;
			margin-bottom: auto;
			font-weight: 700;
			a{
				color: #fff;
			}	
			.active-slide{
				color: $yellowColor;
			} 
		}
	}
	z-index: 2;
}
// Contact

.contact{
	background: url('../img/bgContact.jpg') no-repeat;
	background-size: cover;
	display: flex;
	&:after{
		content: '';
        background-color: rgba(21, 21, 21, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
	}
}
.container{
	margin: 0 auto;
	.blockContact{
		display: flex;
		justify-content: space-between;
		margin: 10.375rem auto;
		.contactMap{
			width:718px;
			height:447px;
			frameborder:0;
			border:0;
			z-index: 3;
		}
		.contactDescription{
			display: flex;
			flex-direction: column;
			.descText{
				column-count: 1;
				column-width: 310px;
				text-align: left;
				font-weight: bold;
				font-size: 14px;
				color: #FFFFFF;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
				a{
					color: #fff;
					&:hover{
						color: $yellowColor;
					}
				}
			}
			z-index: 3;
		}
	}
}
// Servis

.servis{
	background: url('../img/bgServis.jpg') no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	&:after{
		content: '';
        background-color: rgba(21, 21, 21, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
	}
}
.container{
	color: #fff;
	.servisBlock{
		z-index: 2;
		display: flex;
		margin: 10.375rem auto;
		justify-content: space-between;
		.servisForm{
			display: flex;
			flex-direction: column;
		}
		.servisTextBlock{
			h2{
				font-size: 2.1875rem;
				text-transform: uppercase;
			}
			p.servisText{
				column-count: 1;
				column-width: 10rem;
			}
			.servisTextAbout{
				font-weight: 500;
				font-size: 	1.25rem;
				a{
					color: #fff;
					&:hover{
						color: $yellowColor;
					}
				}
			}
		}
	}
}

@import 'media';